In [1]:
from pathlib import Path
import pandas as pd

In [2]:
world_happiness_2015 = pd.read_csv(Path('./world_happiness_csv/2015.csv'))
world_happiness_2016 = pd.read_csv(Path('./world_happiness_csv/2016.csv'))
world_happiness_2017 = pd.read_csv(Path('./world_happiness_csv/2017.csv'))
world_happiness_2018 = pd.read_csv(Path('./world_happiness_csv/2018.csv'))
world_happiness_2019 = pd.read_csv(Path('./world_happiness_csv/2019.csv'))

In [3]:
display(world_happiness_2015.head(15))
display(world_happiness_2016.head(15))
display(world_happiness_2017.head(15))
display(world_happiness_2018.head(15))
display(world_happiness_2019.head(15))

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
5,Canada,North America,6,7.404,7.335,7.473,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,Netherlands,Western Europe,7,7.339,7.284,7.394,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
7,New Zealand,Australia and New Zealand,8,7.334,7.264,7.404,1.36066,1.17278,0.83096,0.58147,0.41904,0.49401,2.47553
8,Australia,Australia and New Zealand,9,7.313,7.241,7.385,1.44443,1.10476,0.85120,0.56837,0.32331,0.47407,2.54650
9,Sweden,Western Europe,10,7.291,7.227,7.355,1.45181,1.08764,0.83121,0.58218,0.40867,0.38254,2.54734
10,Israel,Middle East and Northern Africa,11,7.267,7.199,7.335,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288,3.31029
11,Austria,Western Europe,12,7.119,7.045,7.193,1.45038,1.08383,0.80565,0.54355,0.21348,0.32865,2.69343
12,United States,North America,13,7.104,7.020,7.188,1.50796,1.04782,0.77900,0.48163,0.14868,0.41077,2.72782
13,Costa Rica,Latin America and Caribbean,14,7.087,6.999,7.175,1.06879,1.02152,0.76146,0.55225,0.10547,0.22553,3.35168
14,Puerto Rico,Latin America and Caribbean,15,7.039,6.794,7.284,1.35943,1.08113,0.77758,0.46823,0.12275,0.22202,3.00760

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
10,Israel,11,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
11,Costa Rica,12,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
12,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
13,United States,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
13,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278

In [4]:
WH_top15_2019 = world_happiness_2019.iloc[0:15, 1:3]
WH_top15_2019.columns = ["Country", "Happiness Score 2019"]
WH_top15_2019.set_index('Country')

WH_top15_2018 = world_happiness_2018.iloc[0:15, 1:3]
WH_top15_2018.columns = ["Country", "Happiness Score 2018"]
WH_top15_2018.set_index('Country')

WH_top15_2017 = world_happiness_2017.iloc[0:15, [0,2]]
WH_top15_2017.columns = ["Country", "Happiness Score 2017"]
WH_top15_2017.set_index('Country')

WH_top15_2016 = world_happiness_2016.iloc[0:15, [0,3]]
WH_top15_2016.columns = ["Country", "Happiness Score 2016"]
WH_top15_2016.set_index('Country')

WH_top15_2015 = world_happiness_2015.iloc[0:15, [0,3]]
WH_top15_2015.columns = ["Country", "Happiness Score 2015"]
WH_top15_2015.set_index('Country')

#Rename columns before concat. Thank you Kyle. What gerat advise.

               Happiness Score 2015
Country
Switzerland                   7.587
Iceland                       7.561
Denmark                       7.527
Norway                        7.522
Canada                        7.427
Finland                       7.406
Netherlands                   7.378
Sweden                        7.364
New Zealand                   7.286
Australia                     7.284
Israel                        7.278
Costa Rica                    7.226
Austria                       7.200
Mexico                        7.187
United States                 7.119

In [25]:
WH_2015_2019 = WH_2015_2019.join([WH_top15_2015, WH_top15_2016, WH_top15_2017, WH_top15_2018, WH_top15_2019])

WH_2015_2019

C:\Users\jlesi\AppData\Local\Temp\ipykernel_34944\2184971041.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  WH_2015_2019 = WH_2015_2019.join([WH_top15_2015, WH_top15_2016, WH_top15_2017, WH_top15_2018, WH_top15_2019])
C:\Users\jlesi\AppData\Local\Temp\ipykernel_34944\2184971041.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  WH_2015_2019 = WH_2015_2019.join([WH_top15_2015, WH_top15_2016, WH_top15_2017, WH_top15_2018, WH_top15_2019])

,Country_x,Happiness Score 2015_x,Happiness Score 2016_x,Happiness Score 2017_x,Happiness Score 2018_x,Happiness Score 2019_x,Country_y,Happiness Score 2015_y,Country_x,Happiness Score 2016_y,...,Country_x,Happiness Score 2015,Country_y,Happiness Score 2016,Country_x,Happiness Score 2017,Country_y,Happiness Score 2018,Country,Happiness Score 2019
0,Switzerland,7.587,NaN,NaN,NaN,NaN,Switzerland,7.587,Denmark,7.526,...,Switzerland,7.587,Denmark,7.526,Norway,7.537,Finland,7.632,Finland,7.769
0,Denmark,NaN,7.526,NaN,NaN,NaN,Switzerland,7.587,Denmark,7.526,...,Switzerland,7.587,Denmark,7.526,Norway,7.537,Finland,7.632,Finland,7.769
0,Norway,NaN,NaN,7.537,NaN,NaN,Switzerland,7.587,Denmark,7.526,...,Switzerland,7.587,Denmark,7.526,Norway,7.537,Finland,7.632,Finland,7.769
0,Finland,NaN,NaN,NaN,7.632,NaN,Switzerland,7.587,Denmark,7.526,...,Switzerland,7.587,Denmark,7.526,Norway,7.537,Finland,7.632,Finland,7.769
0,Finland,NaN,NaN,NaN,NaN,7.769,Switzerland,7.587,Denmark,7.526,...,Switzerland,7.587,Denmark,7.526,Norway,7.537,Finland,7.632,Finland,7.769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,United States,7.119,NaN,NaN,NaN,NaN,United States,7.119,Puerto Rico,7.039,...,United States,7.119,Puerto Rico,7.039,Ireland,6.977,Germany,6.965,United Kingdom,7.054
14,Puerto Rico,NaN,7.039,NaN,NaN,NaN,United States,7.119,Puerto Rico,7.039,...,United States,7.119,Puerto Rico,7.039,Ireland,6.977,Germany,6.965,United Kingdom,7.054
14,Ireland,NaN,NaN,6.977,NaN,NaN,United States,7.119,Puerto Rico,7.039,...,United States,7.119,Puerto Rico,7.039,Ireland,6.977,Germany,6.965,United Kingdom,7.054
14,Germany,NaN,NaN,NaN,6.965,NaN,United States,7.119,Puerto Rico,7.039,...,United States,7.119,Puerto Rico,7.039,Ireland,6.977,Germany,6.965,United Kingdom,7.054
14,United Kingdom,NaN,NaN,NaN,NaN,7.054,United States,7.119,Puerto Rico,7.039,...,United States,7.119,Puerto Rico,7.039,Ireland,6.977,Germany,6.965,United Kingdom,7.054